body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 1rem 0;
}

main {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

#calendar {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 5px;
  text-align: center;
}

.dia {
  border: 1px solid #ccc;
  padding: 10px;
  cursor: pointer;
}

.disponible {
  background-color: #4CAF50;
  color: #fff;
}

.no-disponible {
  background-color: #ccc;
  color: #666;
}

#reservation-form {
  margin-top: 20px;
}

footer {
  text-align: center;
  background-color: #333;
  color: #fff;
  padding: 10px 0;
}

.reservar{
  display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    background-color: gray;
    color: white;
}

.reservar:hover{
  background-color: #4CAF50;
}


.agregar-button {
  background-color: #4CAF50; 
  color: white; 
  padding: 10px 20px; 
  border: none; 
  border-radius: 5px; 
  cursor: pointer; 
  font-size: 16px; 
}


.agregar-button:hover {
  background-color: #45a049;
}



.eliminar-button {
  background-color: #f44336; 
  color: white; 
  padding: 10px 20px; 
  border: none; 
  border-radius: 5px; 
  cursor: pointer; 
  font-size: 16px; 
}


.eliminar-button:hover {
  background-color: #d32f2f; 
}
